{% extends "page.html" %}

{% block sidebar %}

<div class="infobox">
  <div class="infobox-header">{{ map.name }}</div>
  <div class="infobox-image">
    <img src="{{ map.image_url | default('/assets/placeholder.svg') }}"
         alt="{{ map.name }}">
  </div>
  <table>
    <tr><th>類型</th><td>地圖</td></tr>
    <tr><th>面積</th><td>{{ map.area_sqm | default("?") }} m²</td></tr>
    <tr><th>加入版本</th><td>{{ map.since_version | default("?") }}</td></tr>
  </table>
</div>

{% endblock %}

{% block content %}

{{ super() }}

{% endblock %}
